/* CSS Document */

html, body {
	width: 700px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 13px;
	color: floralwhite;
	background-color: floralwhite; }
	
h1 {
	margin: 2px;}
	
button {
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
    margin-right: 20px; }
	
div#content {
	padding: 20px;
	background-color: #332600; }
	
div#controls {
	text-align: right; }
	
div#controls span {
	font-weight: bold;
	color: floralwhite; }
	
div#controls button {
	margin-left: 20px; }
	
div#timer {
	display: none;
	font-weight: bold; 
	margin-left: 20px; 
	color: floralwhite; }
	
div#gamespace {
	margin: 20px;
	padding: 10px;
	height: 350px;
	background-color: #583800;
	border: 2px solid #CCC; 
    position: relative; }

div#gamespace img { 
    position: absolute; }
